[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "envDocument"]
	path = envDocument
	url = https://github.com/dgjacks0n/envdocument
